@charset "UTF-8";
@--introShrinkCoeff : 0.4560249124720702;
.home-image img {
  -webkit-filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.32));
          filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.32));
}

@-webkit-keyframes shrink {
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes shrink {
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes patentTransition {
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes patentTransition {
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-item {
  position: absolute;
}
.parallax-item-one {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
.parallax-item-two {
  width: 68px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.parallax-item-two img {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.parallax-item-three img {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.why-product {
  margin: 110px 0;
}
.why-product h2 {
  max-width: 500px;
}

.why-product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-product-content .btn {
  margin: 48px 0 0;
}

.why-product-slider-item {
  padding: 0 56px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages {
  margin: 0 0 110px;
}

.advantages-wrapper {
  margin: 60px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers-box {
  position: relative;
  overflow: hidden;
  counter-increment: numbers;
}
.numbers-box::before {
  display: block;
  content: counter(numbers);
  font-weight: 900;
  line-height: 0.8;
}
.numbers-box:first-child {
  border: 0.1rem solid #FAFAFA;
}

.uniqueness-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.complex h2 {
  font-size: 30px;
}

.complex-content {
  max-width: 576px;
}
.complex-content .box-text p {
  margin: 0;
}

.complex-item .btn {
  margin: 22px 0 0;
  padding: 16px;
  min-width: 245px;
}
.complex-item .box-text {
  font-size: 16px;
}
.complex-item__content {
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
          box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
}
.complex-item:nth-child(1)::before {
  bottom: calc(100% - 6rem);
  left: calc(100% + 2.3rem);
  -webkit-transform: rotate(-21deg) translate(1.7rem, -4rem);
          transform: rotate(-21deg) translate(1.7rem, -4rem);
}
.complex-item-last .complex-item__content {
  color: #fafafa;
  background: #207C3F;
}
.complex-item.in-viewport .complex-item__content {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.complex-grid::before {
  content: "";
  display: block;
}

.difference {
  position: relative;
  z-index: 1;
}
.difference::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: #FAFAFA;
  z-index: -1;
}
.difference-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
          box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
  background: #207C3F;
  border-radius: 32px;
  overflow: hidden;
}
.difference-content {
  width: 52%;
  padding: 48px;
}
.difference-image {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.difference-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.parallax-item-certificates-one {
  left: -8.8rem !important;
  width: 17.6rem;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.parallax-item-certificates-two {
  left: auto !important;
  width: 8.3rem;
}

.scroll-slider__lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.scroll-slider__slide {
  -webkit-box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
          box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.scroll-slider__slide_overlay {
  position: relative;
}

.img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.scroll-slider__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.scroll-slider__scrollbar {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 16px;
  padding: 2px;
  border-radius: 8px;
  background-color: #CFD4D1;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
}

.scroll-slider__scroll, .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  position: relative;
}

.scroll-slider__drag {
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
  background-color: #207C3F;
}

.scroll-slider__link {
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #CFD4D1;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.rounded {
  overflow: hidden;
  border-radius: 40px !important;
  background-color: #207C3F;
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
  box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
}

.rounded-video {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  padding-top: 56.25%;
}

.rounded-poster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  background-position: 50% 50%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(19, 73, 37, 0)), to(#134925)), url("../img/poster.jpg");
  background: linear-gradient(180deg, rgba(19, 73, 37, 0) 50%, #134925 100%), url("../img/poster.jpg");
  border-radius: 30px;
  -webkit-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}
.rounded-poster:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #FAFAFA;
  border-radius: 100%;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}
.rounded-poster:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -15px 0 0 -10px;
  border-top: 15px solid transparent;
  border-left: 30px solid #207C3F;
  border-bottom: 15px solid transparent;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.rounded-poster:hover:before,
.rounded-poster:focus:before {
  background-color: rgba(255, 255, 255, 0.5);
}

.rounded-poster:hover:after,
.rounded-poster:focus:after {
  border-left-color: #1B6132;
}

.is-active .rounded-poster {
  opacity: 0;
  height: 0;
  width: 0;
  -webkit-transition-delay: 0s, 800ms;
          transition-delay: 0s, 800ms;
}

.rounded-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.audience-box {
  font-size: 20px;
}
.audience-box h3 {
  margin: 0 0 16px;
  font-weight: 900;
}
.audience-box__body ul {
  padding: 0 0 0 30px;
  list-style-type: "— ";
}
.audience-box__body ul li {
  margin: 0 0 15px;
}
.audience-box__body ul li:last-child {
  margin: 0;
}

.review-box {
  margin-top: 24px;
  width: 100%;
  color: #47554C;
  border-radius: 40px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
          box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
}
.review-box .box-text {
  font-size: 16px;
  font-style: italic;
  color: #47554C;
}

.review-author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-author__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.review-author__body {
  padding: 0 0 0 10px;
  width: calc(100% - 48px);
}
.review-author__name {
  font-weight: bold;
}
.review-author__description {
  color: #838C86;
}

.parallax-item-offers-one {
  width: 209px;
  top: auto !important;
  bottom: 147px;
  left: -10rem !important;
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.parallax-item-offers-two {
  top: auto !important;
  right: 6rem;
  bottom: 4.8rem;
  left: auto !important;
}

.parallax-item-offers-three {
  top: 5.3rem !important;
  right: -4rem;
  left: auto !important;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.offers-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers-image {
  max-width: 456px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers-item {
  padding: 32px 0;
  margin: 0 40px 0 0;
  max-width: 576px;
  width: 100%;
  border: 0.1rem solid #CFD4D1;
  border-radius: 32px;
  background-color: #FAFAFA;
}
.offers-item__head {
  padding: 0 32px;
  margin: 0 0 24px;
}
.offers-item h3 {
  color: #207C3F;
  font-weight: 900;
}

.discount-box {
  font-size: 24px;
  margin-left: auto;
  padding: 4px 8px;
  color: #FAFAFA;
  border-radius: 6px;
  background-color: #811729;
}

.old-price {
  text-decoration-line: line-through;
  color: #838C86;
  margin: 0 0 -8px;
}

.offer-swiper .swiper-slide {
  margin: 0 auto;
}

.price-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 36px;
}

.price {
  color: #207C3F;
  font-weight: 900;
  margin-right: 12px;
}

.dosage {
  font-size: 20px;
  margin: 16px 0 0;
}

.instructions-box__icon {
  margin: 0 0 24px;
  width: 80px;
  height: 80px;
}
.instructions-box__icon img {
  max-height: 100%;
}
.instructions-box .h3 {
  font-weight: bold;
}

.contraindications-box {
  font-size: 20px;
  line-height: 1.5;
}
.contraindications-box__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.attention-text {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.video-reviews {
  padding: 110px 0;
  color: #47554C;
  background-color: #FAFAFA;
}
.video-reviews h2 {
  color: #207C3F;
  margin: 0;
}

.parallax-item-reviews-one {
  left: -140rem !important;
  width: 176px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.parallax-item-reviews-two {
  left: auto !important;
  width: 83px;
}

.scroll-slider__name {
  position: absolute;
  pointer-events: none;
  color: #FAFAFA;
  font-weight: 700;
  font-size: 20px;
}

.contacts {
  position: relative;
  z-index: 1;
}
.contacts .container {
  position: initial;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.contacts-box {
  position: relative;
  z-index: 1;
  margin: 116px 0;
  border-radius: 30px;
  background-image: url("../img/page-bg.jpg");
  max-width: 576px;
  width: 100%;
}
.contacts-box__item {
  margin: 0 0 24px;
}
.contacts-box__item:last-child {
  margin: 0;
}
.contacts-box h3 {
  font-weight: bold;
}
.contacts-box .box-text {
  font-size: 20px;
}

.contacts-phone {
  font-weight: bold;
  margin: 16px 0 0;
  color: #fff;
}
.contacts-phone:hover {
  color: #fff;
}