@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@--introShrinkCoeff : 0.4560249124720702;
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.37;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  background: url("../img/page-bg.jpg") repeat;
  color: #FAFAFA;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #595959;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #595959;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-align: center;
  min-width: 245px;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.09em;
  border-radius: 80px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
          box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.btn-accent {
  background: #207C3F;
  color: #fff;
}
.btn-accent:hover {
  color: #fff;
  background: #408E5A;
}

.btn-white {
  color: #207C3F;
  background-color: #FAFAFA;
}
.btn-white:hover {
  background: #408E5A;
  color: #FAFAFA;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1 {
  color: #207C3F;
  font-weight: 900;
  line-height: normal;
}

h2 {
  font-weight: 900;
  margin-bottom: 24px;
  line-height: normal;
}

.h3 {
  font-weight: 900;
  margin: 0;
}

.box-text {
  font-size: 20px;
}
.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}

.bg-white {
  background: #FAFAFA !important;
  color: #47554C;
}
.bg-white h2 {
  color: #207C3F;
}

.swiper-button-prev, .swiper-button-next {
  min-width: 56px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background: url("../img/prev.svg") no-repeat center;
  background-size: 100%;
  margin-right: 8px;
  left: 0;
}

.swiper-button-next {
  background: url("../img/next.svg") no-repeat center;
  background-size: 100%;
  margin-left: 8px;
  right: 0;
  left: auto;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.slider-scrollbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
  padding: 2px;
  border-radius: 0.8rem;
  background-color: #CFD4D1;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
}

.swiper-pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-top: 1.5rem;
  font-size: 1rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0 !important;
  top: 0 !important;
  left: 0 !important;
  position: relative !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-pagination-bullet::before {
  display: block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #ccc;
}
.swiper-pagination-bullet-active::before {
  background: #207C3F;
}

.tab-header {
  width: 100%;
  font-size: 24px;
  font-weight: 900;
}
.tab-header li {
  cursor: pointer;
  width: 100%;
  border-bottom: 0.1rem solid #CFD4D1;
  position: relative;
  padding: 24px 32px;
  width: 100%;
  color: #47554c;
}
.tab-header li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: calc(100% + 0.1rem);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #134925;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.tab-header li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  width: 0;
  height: calc(100% + 6px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tab-header li.active {
  border-color: #207C3F;
  color: #FAFAFA;
  background: #207C3F;
}
.tab-header li.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.tab-header li.active:after {
  width: calc(100% + 6px);
  -webkit-box-shadow: 0 0 0 2px #207C3F;
          box-shadow: 0 0 0 2px #207C3F;
}

.tab-content {
  width: 100%;
}
.tab-content__item {
  display: none;
}
.tab-content__item.active {
  display: block;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
}

.row {
  margin: 0 -16px;
}
.row > * {
  padding: 0 16px;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.parallax {
  position: relative;
  overflow: hidden;
}

.blueimp-gallery > .next {
  background: url("../img/next-gallery.svg") no-repeat center;
}

.blueimp-gallery > .prev {
  background: url("../img/prev-gallery.svg") no-repeat center;
}

.blueimp-gallery > .close {
  background: url("../img/close-gallery.svg") no-repeat center;
}

.video-content {
  max-width: min(1280px, 80%) !important;
}